DEBUG=True
DOMAIN="*"
EMAIL="email@example.com"
SECRET_KEY="testing"
DB_NAME=dbname
DB_USERNAME=username
DB_PASSWORD=password
DB_HOST=127.0.0.1
DB_PORT=5432
MAILGUN_API_KEY=mailgun-api-key
MAILGUN_API_URL=mail-api-url
MAILGUN_SENDER_DOMAIN=mailgun-sender-domain
SERVER_MAIL=mailgun-server-mail
DEFAULT_FROM_EMAIL=userdefinded@example.com
FRONTEND_SITE=domain-of-your-frontend